<div class="intro component">
    <p>
        The Complex Numbers module provides mathematical functions for complex numbers, equivalent to the built-in Math functions and `gallery-math`.
    </p>
</div>

{{>getting-started}}
