<div class="intro component">
    <p>
        An overlay which acts like a popup, e.g., it closes on a click outside the overlay.
    </p>
</div>

{{>getting-started}}

<h2 id="using">Using the Popup module</h2>

<h3 id="modules">Popup module overview</h3>

<p>
Popup provides an overlay which opens on a definable set of events, closes on ESC or clicks outside the popup, and which can block the overlay from closing based on a definable set of events which take precendence over the default close events.
</p>
