<div class="intro component">
    <p>
        The Chipper module provides a way to destroy objects asynchronously.
        This is not the same as simply letting the GC recycle the objects.
        `destroy` is explicitly called on each object.
    </p>
</div>

{{>getting-started}}
