.yui3-collapsetoggle-content.collapsed > .summary {
	display:block;
}
.yui3-collapsetoggle-content.collapsed > .content {
	display:none;
}

.yui3-collapsetoggle-content.expanded > .summary {
	display:none;
}
.yui3-collapsetoggle-content.expanded > .content {
	display:block;
}
