<!DOCTYPE HTML>
<html>

<head>
	<title>Hang Firefox</title>
	<meta http-equiv=content-type content="text/html; charset=utf-8">

	<script src="http://yui.yahooapis.com/3.5.0pr4/build/yui/yui-min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.0pr4/build/cssreset/reset-min.css">
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.0pr4/build/cssfonts/fonts-min.css">
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.5.0pr4/build/cssbase/base-min.css">

	<script src="gallery-layout-debug.js"></script>
	<script src="gallery-layout-rows-debug.js"></script>
	<script src="gallery-dimensions-debug.js"></script>
	<script src="gallery-node-optimizations-debug.js"></script>
	<script src="gallery-funcprog-debug.js"></script>
	<script src="gallery-object-extras-debug.js"></script>
	<script src="gallery-nodelist-extras2-debug.js"></script>
	<link rel="stylesheet" type="text/css" href="assets/gallery-layout.css">

</head>

<body>

<h1>Stuck!</h1>

<script type="text/javascript">
YUI({
//	filter: 'raw', combine: false,
	gallery: 'gallery-2012.01.11-21-03'
}).use('gallery-layout', function(Y) {
"use strict";
alert('hi');
});
</script>

</body>
</html>
