<!DOCTYPE HTML>
<html>

<head>
	<title>Layout Manager Example</title>
	<meta http-equiv=content-type content="text/html; charset=utf-8">

	<script src="http://yui.yahooapis.com/3.4.1/build/yui/yui-min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/reset-min.css">
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssfonts/fonts-min.css">
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssbase/base-min.css">

	<script src="gallery-layout-debug.js"></script>
	<script src="gallery-layout-rows-debug.js"></script>
	<link rel="stylesheet" type="text/css" href="assets/gallery-layout.css">
</head>

<body>

<div class="satg-content satg-content-v3" style="visibility:hidden;">
	<div class="satg-module-row satg-bd">
		<div class="satg-module">
			<div class="satg-m-hd">
				<p>I am a fixed module header</p>
				<div id="test-vert-collapse" class="satg-layout-vert-collapse-nub">
					<button>Collapse</button>
				</div>
				<div id="test-vert-expand" class="satg-layout-vert-expand-nub">
					<button>Expand</button>
				</div>
			</div>
			<div class="satg-m-bd">
				<p>I am a module body that scrolls if needed</p>
			</div>
		</div>
	</div>
	<div class="satg-module-row satg-bd">
		<div class="satg-module width:25%">
			<div class="satg-m-hd">
				<p>I am a fixed module header</p>
			</div>
			<div class="satg-m-bd">
				<p>I am a module body that scrolls if needed</p>
				<button id="fit-to-viewport">Fit-to-Viewport</button>
				<button id="fit-to-content">Fit-to-Content</button>
			</div>
		</div>
		<div class="satg-module">
			<div class="satg-m-bd">
				<p>I am a module body that scrolls if needed</p>
			</div>
		</div>
	</div>
	<div class="satg-module-row satg-bd">
		<div class="satg-module">
			<div class="satg-m-hd">
				<p>I am a fixed module header</p>
				<div id="test-horiz-left-collapse" class="satg-layout-left-collapse-nub">
					<button>Collapse</button>
				</div>
			</div>
			<div class="satg-m-bd">
				<p>I am a module body that scrolls if needed</p>
			</div>
			<div class="satg-m-ft">
				<p>I am a fixed module footer</p>
			</div>
			<div id="test-horiz-left-expand" class="satg-layout-left-expand-nub">
				<button>Expand</button>
			</div>
		</div>
		<div class="satg-module">
			<div class="satg-m-hd">
				<p>I am a fixed module header</p>
			</div>
			<div class="satg-m-bd">
				<p>I am a module body that scrolls if needed</p>
			</div>
			<div class="satg-m-ft">
				<p>I am a fixed module footer</p>
			</div>
		</div>
		<div class="satg-module">
			<div class="satg-m-hd">
				<p>I am a fixed module header</p>
				<div id="test-horiz-right-collapse" class="satg-layout-right-collapse-nub">
					<button>Collapse</button>
				</div>
			</div>
			<div class="satg-m-bd">
				<p>I am a module body that scrolls if needed</p>
			</div>
			<div class="satg-m-ft">
				<p>I am a fixed module footer</p>
			</div>
			<div id="test-horiz-right-expand" class="satg-layout-right-expand-nub">
				<button>Expand</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
YUI({
//	filter: 'raw', combine: false
}).use('gallery-layout', function(Y) {
"use strict";

	var page_layout = new YAHOO.SATG.PageLayout();
	page_layout._init();

	page_layout._registerCollapseNub('test-vert-collapse');
	page_layout._registerExpandNub('test-vert-expand');

	page_layout._registerCollapseNub('test-horiz-left-collapse');
	page_layout._registerExpandNub('test-horiz-left-expand');

	page_layout._registerCollapseNub('test-horiz-right-collapse');
	page_layout._registerExpandNub('test-horiz-right-expand');

	Y.on('click', function()
	{
		page_layout.setMode(YAHOO.SATG.PageLayout.FIT_TO_VIEWPORT);
	},
	'#fit-to-viewport');

	Y.on('click', function()
	{
		page_layout.setMode(YAHOO.SATG.PageLayout.FIT_TO_CONTENT);
	},
	'#fit-to-content');
});
</script>

</body>
</html>
