<div class="intro component">
    <p>
        A popup tuned to contain a `Y.Calendar` instance attached to an input field.
    </p>
</div>

{{>getting-started}}

<h2 id="using">Using the Calendar Popup module</h2>

<h3 id="modules">Calendar Popup module overview</h3>

<p>
`Y.CalendarPopup` is a popup tuned to contain a `Y.Calendar` instance attached to an input field.
</p>
