<div class="intro component">
    <p>
        This module provides a cache which drops items based on a user-defined expiration criterion, e.g., age. The data store is configurable, so you can layer this on top of an MRU cache to limit both key lifetime and total memory.
    </p>
</div>

{{>getting-started}}
