.yui3-mathcanvas-keyboard {position:fixed;width:98%;max-width:400px;bottom:0;text-align:center;background-color:#666;border-top-left-radius:5px;border-top-right-radius:5px;padding:2px;}
.yui3-mathcanvas-keyboard p.last {margin-bottom:0;}
.yui3-mathcanvas-keyboard button {height:30px;border-radius:5px;border:1px solid #444;min-width:28px;width:10%;background-color:#EEE;box-shadow:2px 2px #222;}
.yui3-mathcanvas-keyboard-hide {float:left;}
.yui3-mathcanvas-keyboard-eval {float:left;margin-left:10px;}
.yui3-mathcanvas-keyboard-expand {float:right;}
.yui3-mathcanvas-keyboard-delete {float:right;margin-left:15px;}
.yui3-mathcanvas-keyboard-func,
.yui3-mathcanvas-keyboard-const {width:100px;}
.yui3-mathcanvas-keyboard-const {margin-top:5px;}

.yui3-mathcanvas-node { stroke:#000000; stroke-width:1; stroke-linecap:round; cursor:default; }
.yui3-mathcanvas-node.path { fill:none; }
.yui3-mathcanvas-node.text { font-weight:100; }
.yui3-mathcanvas-node.selection { stroke:none; fill:#99FFFF; }
