.keyboard {position:fixed;bottom:0;text-align:center;background:white;border: 1px solid #666;padding-top:2px;}
.keyboard * {opacity:1;filter:alpha(opacity=100);}
.keyboard button {height:30px;border-radius:10px;min-width:28px;}
.keyboard-e {margin-left:10px;}
.keyboard-hide {float:left;}
.keyboard-eval {float:left;margin-left:10px;}
.keyboard-expand {float:right;}
.keyboard-delete {float:right;margin-left:15px;}
.keyboard-func,
.keyboard-const {width:100px;}
.keyboard-const {margin-top:5px;}
