.yui3-mathcanvas-keyboard { position:fixed; width:98%; max-width:400px; bottom:0; text-align:center; background-color:#666; border-top-left-radius:5px; border-top-right-radius:5px; padding:2px; display:grid; grid-template-columns:18.75% 62.5% 18.75%; }
.yui3-mathcanvas-keyboard button { width:100%; height:40px; border-radius:5px; border:1px solid #444; background-color:#EEE; }
.yui3-mathcanvas-keyboard .digits { display:grid; grid-template-columns:repeat(3,33%); padding:0 5px; font-size:300%; }
.yui3-mathcanvas-keyboard .number { height:60px; }
.yui3-mathcanvas-keyboard .functions { width:80%; height:55px; margin-top:5px; }
.yui3-mathcanvas-keyboard .operators,
.yui3-mathcanvas-keyboard .misc { display:grid; grid-template-rows:repeat(6,16.7%); font-size:200%; }
.yui3-mathcanvas-keyboard .delete { grid-row:6; }

.yui3-mathcanvas-node { stroke:#000000; stroke-width:1; stroke-linecap:round; cursor:default; }
.yui3-mathcanvas-node.path { fill:none; }
.yui3-mathcanvas-node.text { font-weight:100; }
.yui3-mathcanvas-node.selection { stroke:none; fill:#99FFFF; }
.yui3-mathcanvas-node.invalid-input { stroke:#FF0000; }
