<div class="intro component">
    <p>
        This module implements a doubly linked list for storing items and a bi-directional iterator for traversing the list.
    </p>
</div>

{{>getting-started}}
