<div class="intro component">
    <p>
        This module stores instances of JavaScript components. It allows a constructor or factory function to be passed in place of an instance. This enables lazy construction on demand.
    </p>
    <p>
        One use is to create a global repository of JavaScript components attached to DOM id's, e.g., YUI Buttons built on top of HTML buttons.
    </p>
</div>

{{>getting-started}}
