<div class="intro component">
    <p>
        The Sort Extras module provides useful functions for sorting lists, e.g., case-insensitive string comparison, flip, and compareKey.
    </p>
</div>

{{>getting-started}}
