<div class="intro component">
    <p>
    The QueryBuilder Date Range provides a plugin which adds the ability to accept multiple values.  These are typically used in a database query in conjunction with the IN operator.
    </p>
</div>

{{>getting-started}}

<h2 id="using">Using the Query Builder Date Range module</h2>

<h3 id="modules">Query Builder Date Range module overview</h3>
